/*
    font: Roboto
    dark background color (hero and footer) #1F2937
    Hero Main text ("this website is awesome") 48px #F9FAF8 weight: 900
    Hero Secondary text, Header Link Text 18px #E5E7EB
    Header Logo Text 24px #F9FAF8

    Button color, call to action background color #3882F6
    information header text 36px #1F2937 weight: 900

    Quote section background color
    #E5E7EB

    Quote text
    36px light italic #1F2937
*/



* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


                /*Navigation Bar styles*/
.container
{
    display: flex;
    width: 100%;
    height: 60px;
   /* border: 1px solid red; /*for debugging*/
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.logo > a
{
   /* border: 1px solid red; /*for debugging*/
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
}

.links
{
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid red; /*for debugging*/
}

.links > a 
{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

                /*Banner Styles*/
.container2
{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
   /* border: 1px solid red; /*for debugging*/
    padding-top: 70px;
    padding-bottom: 60px;
}

.hero-section
{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    color: #F9FAF8;
    align-items: flex-start;
     margin-right: 118px; 
    /*border: 1px solid red; /*for debugging*/
    padding: 10px;
}

#hero-text
{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

#hero-button 
{
    background-color: #3882F6;
    text-align: center;
    border: 0;
    color: #E5E7EB;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    margin-top: 10px;
}

.placeholder 
{
    background-color: #6D747D;
    width: 400px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder  > p
{
    color: #E5E7EB;
}

             /*Illustrations & Information Styles*/
.container3
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #F9FAF8;
    justify-content: center;
   /* border: 1px solid red; /*for debugging*/
    padding-bottom: 70px;
}

.title-container
{
    order: 1;
   /* border: 1px solid red; /*for debugging*/
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FAF8;
    margin-top: 30px;
}

.title-container > p 
{
    color: #1F2937;
    /*border: 1px solid red; /*for debugging*/
    font-size: 24px;
    font-weight: 900;
}

.illustration-container
{
    width: 100%;
    height: fit-content;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
   /* border: 1px solid blue; /*For debugging*/
    margin-top: 30px;
}

.picture
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
   /* border: 1px solid blue; /*for debugging*/
    margin-right: 25px;
}

.empty
{
    order: 1;
    width: 150px;
    height: 150px;
    border-radius: 7px;
    background-color: white;
    border: #3882F6 3px solid;
}

.subtext
{
    order: 2;
    width: 150px;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #6D747D;
}



                /*Quote for Support Styles*/
.container4
{
    width: 100%;
    height: fit-content;
    padding-top: 90px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
   /* border: 1px solid red; /*for debugging*/
}

.container4 > p
{
    order: 1;
    width: 800px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
   /* border: 1px solid red; /*for debugging*/
    color:#1F2937;
}
#recognition
{
    order: 2;
    width: 800px;
    color: #1F2937;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 900;
}

                        /*Action box to sign up styles*/
.container5
{
    width: 100%;
    height: fit-content;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
   /* border: 1px solid red; /*for debugging*/ 
}

.group-parts
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid blue; /*for debugging*/
    background-color: #3882F6;
    padding: 30px;
    border-radius: 6px;
}

.action-words
{
    order: 1;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
   /* border: 1px solid brown;  for debugging*/
    margin-left: 50px;
}

.action-words > p
{
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8;
    text-align: left;
}

#text2
{
    font-size: 16px;
    font-weight: 200;
    text-align: left;
}

.button-div
{
    order: 2;
    width: 300px;
    padding-top: 20px;
    padding-left: 100px;
}

#action-button
{
    
    background-color: #3882F6;
    text-align: center;
    border: 2px solid white;
    color: #E5E7EB;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
}

                /*Footer styles*/
.footer
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1F2937;
}

.footer > p
{
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 5px;
}